version: 2
updates:
  - package-ecosystem: npm
    directory: /
    labels:
      - dependabot
      - npm
    schedule:
      interval: weekly
    groups:
      security-fix:
        applies-to: security-updates
        patterns:
          - '*'
      minors:
        applies-to: version-updates
        patterns:
          - '*'
        update-types:
          - minor
          - patch
      eslint:
        patterns:
          - 'eslint'
          - 'eslint-plugin-*'
          - 'typescript-eslint'
          - '@eslint/js'
          - '@typescript-eslint/parser'
          - '@typescript-eslint/eslint-plugin'
          - 'prettier'
          - 'globals'
      jest:
        patterns:
          - 'jest'
          - 'ts-jest'
          - 'ts-jest-resolver'
          - '@jest/globals'
          - '@types/jest'
  - package-ecosystem: github-actions
    directory: /
    labels:
      - dependabot
      - actions
    schedule:
      interval: weekly
